VITE_SUPABASE_URL=https://dwozwzkmiwokdzsrlhdx.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_1bxWN6uKJEd_7Xfz7qz6Kg_Wz06xpXJ
VITE_SUPABASE_DOCTOR_IMAGES_BUCKET=doctor-images

# Optional service URLs
